// P {

// }

p a{
	text-decoration: underline;

	&:hover{
		text-decoration: none;
	}
}

h1 {
	font-size: $basesize*$scale*$scale*$scale;
}
h2 {
	font-size: $basesize*$scale*$scale;
}
h3{
	font-size: $basesize*$scale;
}
h4{
	font-size: $basesize;
}



header nav {

	a {
		color: $black;
		text-decoration: none;
		font-weight: 400;
		&:hover{
			color:	$black;
			text-decoration: none;
			opacity: .65;
		}
	}
}
