@import 'related-items.scss';
.archive-grid{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    // background-color: ;

}

.archive-card {
    // background-color: $black;
    flex: 0 0 300px;
    // height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;

    // border: 3px solid red;
    // box-shadow: 2px 2px 5px #000;
    

    &.type-post .styled-excerpt{
        // background: linear-gradient(218deg, rgba(255,255,255,1) 0%, $accent-bright 50%, rgba(255,255,255,1) 100%); 
        background: linear-gradient(218deg, $accent-bright 30%, rgba(255,255,255,1) 100%); 
        -webkit-text-stroke-color: $accent-bright;
    }
    &.type-review .styled-excerpt{
        background: linear-gradient(218deg, $alt-accent-bright 30%, rgba(255,255,255,1) 100%);
        -webkit-text-stroke-color: $alt-accent-bright;
    }
    &.type-code-snippet .styled-excerpt{
        // background: linear-gradient(218deg, rgba(255,255,255,1) 0%, $alt2-accent-bright 50%, rgba(255,255,255,1) 100%);
        background: linear-gradient(218deg, $alt2-accent-bright 30%, rgba(255,255,255,1) 100%);
        -webkit-text-stroke-color: $alt2-accent-bright;
    }
    &.type-tutorial .styled-excerpt{
        // background: linear-gradient(218deg, rgba(255,255,255,1) 0%, $alt3-accent-bright 50%, rgba(255,255,255,1) 100%);
        background: linear-gradient(218deg, $alt3-accent-bright 30%, rgba(255,255,255,1) 100%);
        -webkit-text-stroke-color: $alt3-accent-bright;
    }

    .styled-excerpt-container{
        position: relative;
        height: 200px;
        overflow: hidden;
        background-color: $black;


        .styled-excerpt{
            position: absolute;
            display: block;
            // padding: 1rem;
            $excerpt_width: 500px;
            width: $excerpt_width;
            
            font-family: 'Bison',sans-serif;
            font-size: 2.5rem;
            line-height: 1;
            text-align: center;
            
            $extra: $excerpt_width - 300;
            $left: $extra / -2;
            left: $left;
            top: 50%;
            transform: rotate(-13deg) translate(0,-50%);
            // transform: translate(0,-50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        
        }
    }
    $card_padding: 1rem .5rem 0;
    .title {
        background-color: $white;
        padding: $card_padding;
        h2 {
            color: $black;
            margin: 0;
            a {
              color: $black;
              transition: ease all .5s;
              text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                    color: $accent-color;
                    transition: ease all .5s;
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .excerpt-container {

        .excerpt {
            padding: $card_padding;
        }
    }

    .byline-container {
        padding: $card_padding;
    }


    // .taxonomy-tag a {
    //     font-size: .9rem;
    //     line-height: 1.4;
    // }

    // h2 {
    //     font-size: 1.3rem;
    //     padding: .5rem 0;
    //     font-weight: 700;
    //     margin: 0;
    // } 
    // .featured-image,
    // .featured-image a {
    //     line-height: 0;
    // }

    // .excerpt {
    //     font-size: .9rem;
    // }
}
.home-card-footerx {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: 1.4em;
    border-top: 1px solid #002244;

    &> div {
        font-size: .9rem;
    }
}

/* old
               
                .home-card {
                    background-color: #fff;
                    padding: 1rem;
                    flex: 0 0 300px;
                    height: 500px;
                    position: relative;
                    overflow: hidden;
                    box-shadow: 2px 2px 5px #000;
                }
                .home-card .taxonomy-tag a {
                    font-size: .9rem;
                    line-height: 1.4;
                }
                .home-card h2 {
                    font-size: 1.3rem;
                    padding: .5rem 0;
                    font-weight: 700;
                    margin: 0;
                } 
                .home-card .featured-image,  
                .home-card .featured-image a {
                    line-height: 0;
                }
                .home-card .excerpt {
                    font-size: .9rem;
                }
                .home-card-footer {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: auto;
                    padding: 1rem;
                    background-color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    line-height: 1.4em;
                    border-top: 1px solid #002244;
                }
                .home-card-footer > div {
                    font-size: .9rem;
                }*/

