.related-items{

    ul {
        li{
            a{
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }

                span{
                    text-transform: capitalize;
                }
            }
        }
    }
}